* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Outfit;
}

:root {
  --primary-color: #4a90e2;
  --danger-color: #e74c3c;
  --bg-color: #f4f4f9;
  --text-color: #333;
  --border-radius: 8px;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  padding: 40px;
}

main {
  background: white;
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.input-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  flex: 1;
}

#add-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: bold;
  transition: background 0.2s;
}

#add-btn:hover {
  background-color: #357abd;
}

table {
  /* display: block; */
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  /* overflow-x: auto;
  white-space: nowrap; */
}

thead {
  background-color: var(--primary-color);
  color: white;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #e9e9e9; /* Highlight row on hover */
}

.btn-qty {
  background-color: #eee;
  border: 1px solid #ccc;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-qty:hover {
  background-color: #ddd;
}

.btn-delete {
  background-color: white;
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all 0.2s;
}

.btn-delete:hover {
  background-color: var(--danger-color);
  color: white;
}

.low-stock {
  background-color: #ffe6e6; /* Very light red background */
  border-left: 5px solid #ff4d4d; /* A thick red line on the left */
}

/* The invisible container */
#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* The actual message bubble */
.toast {
  background-color: #333;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

/* Specific colors */
.toast.success {
  border-left: 5px solid #2ecc71;
}
.toast.danger {
  border-left: 5px solid #e74c3c;
}

/* The visible state */
.toast.show {
  opacity: 1;
  transform: translateY(0);
}
